<a href="https://colab.research.google.com/github/abadathossain/AbadatHossain/blob/main/6)Assignment_6_Data_Preprocessing_and_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Load the Data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# TODO: Load the housing data
df = pd.read_csv('/content/Housing.csv')

# TODO: How many houses are there?
print(f"Number of houses: {df.shape}")  # Fill this

# TODO: Show first 3 houses
df.head(3)

Number of houses: (545, 13)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished

In [2]:
# Look at Columns
# TODO: Show all column names
print(f"Columns:{df.columns}")
# TODO: Show data types of columns
print(f"Data types:{df.dtypes}")

Columns:Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')
Data types:price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [3]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [4]:
#Convert Yes/No to 1/0
# Check what's in our data
print("Current mainroad values:", df['mainroad'].head())
# Shows: yes, no, yes, yes, no
df['mainroad'] = df['mainroad'].map({'yes': 1, 'no': 0})
# Models need numbers, not text!
# We need: yes → 1, no → 0
print(df['mainroad'].head())

Current mainroad values: 0    yes
1    yes
2    yes
3    yes
4    yes
Name: mainroad, dtype: object
0    1
1    1
2    1
3    1
4    1
Name: mainroad, dtype: int64

In [5]:
print("Current furnishingstatus values:", df['furnishingstatus'].head())
df['furnishingstatus'] = df['furnishingstatus'].map({'furnished': 1, 'semi-furnished': 2, 'unfurnished':3})
# Models need numbers, not text!
# We need: yes → 1, no → 0
print(df['furnishingstatus'].head())

Current furnishingstatus values: 0         furnished
1         furnished
2    semi-furnished
3         furnished
4         furnished
Name: furnishingstatus, dtype: object
0    1
1    1
2    2
3    1
4    1
Name: furnishingstatus, dtype: int64

In [6]:
df['guestroom'] = df['guestroom'].map({'yes': 1, 'no': 0})
# Models need numbers, not text!
# We need: yes → 1, no → 0
print(df['guestroom'].head())
df['basement'] = df['basement'].map({'yes': 1, 'no': 0})
df['hotwaterheating'] = df['hotwaterheating'].map({'yes': 1, 'no': 0})
df['airconditioning'] = df['airconditioning'].map({'yes': 1, 'no': 0})
df['prefarea'] = df['prefarea'].map({'yes': 1, 'no': 0})

0    0
1    0
2    0
3    0
4    1
Name: guestroom, dtype: int64

In [7]:
#Split into Train and Test
# TODO: Split - 80% train, 20% test

X = df.drop('price', axis=1)  # Features
y = df['price']               # Target

# Split: 80% train, 20% test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Verify sizes
print("Train shape:", X_train.shape, y_train.shape)
print("Test shape:", X_test.shape, y_test.shape)

Train shape: (436, 12) (436,)
Test shape: (109, 12) (109,)

In [8]:
#Apply StandardScaler
# Area is huge (1650-13300), Bedrooms is small (1-6)!
#Your Code here

# Initialize the scaler
scaler = StandardScaler()

# Fit on training data only and transform both train and test
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

# Apply scaling only on numeric columns
numeric_cols = ['area','bedrooms','bathrooms','stories','parking','furnishingstatus','guestroom','basement','mainroad','hotwaterheating','airconditioning','prefarea']  # adjust if needed


X_train_scaled[numeric_cols] = scaler.fit_transform(X_train[numeric_cols])
X_test_scaled[numeric_cols] = scaler.transform(X_test[numeric_cols])

# Check
print(X_train_scaled.head())

         area  bedrooms  bathrooms   stories  mainroad  guestroom  basement  \
46   0.384168  0.055271   1.539173  2.587644  0.407155  -0.466773 -0.746420
93   0.929181  0.055271   1.539173 -0.912499  0.407155  -0.466773  1.339728
335 -0.607755 -1.283514  -0.557950 -0.912499  0.407155  -0.466773  1.339728
412 -1.155492  0.055271  -0.557950  0.254215  0.407155  -0.466773  1.339728
471 -0.637730  0.055271  -0.557950  0.254215  0.407155  -0.466773 -0.746420

     hotwaterheating  airconditioning   parking  prefarea  furnishingstatus
46         -0.230521         1.501243  0.367957 -0.552620         -1.409401
93         -0.230521         1.501243  2.709987 -0.552620         -0.079317
335        -0.230521         1.501243  1.538972 -0.552620         -1.409401
412        -0.230521        -0.666115 -0.803059  1.809561          1.250768
471        -0.230521        -0.666115 -0.803059 -0.552620          1.250768

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Train Linear Regression model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Predict on test set
y_pred = model.predict(X_test_scaled)

# Evaluate
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 1771751116594.041
R-squared (R2): 0.6494754192267792

In [10]:
# # Predict a House Price
# # New house details:
# # area=5000, bedrooms=3, bathrooms=2, stories=2,
# # mainroad=yes, guestroom=no, basement=yes,
# # hotwaterheating=no, airconditioning=yes,
# # parking=2, prefarea=yes, furnishingstatus=furnished
# #your code here

# New house data
new_house = pd.DataFrame({
    'area': [5000],
    'bedrooms': [3],
    'bathrooms': [2],
    'stories': [2],
    'mainroad': ['yes'],
    'guestroom': ['no'],
    'basement': ['yes'],
    'hotwaterheating': ['no'],
    'airconditioning': ['yes'],
    'parking': [2],
    'prefarea': ['yes'],
    'furnishingstatus': ['furnished']
})

# 1️⃣ Convert Yes/No to 1/0
yes_no_cols = [
    'mainroad','guestroom','basement',
    'hotwaterheating','airconditioning','prefarea'
]

for col in yes_no_cols:
    new_house[col] = new_house[col].replace({'yes': 1, 'no': 0})

# 2️⃣ Convert furnishingstatus to numeric (same as training)
# furnished=2, semi-furnished=1, unfurnished=0 (example encoding)
new_house['furnishingstatus'] = new_house['furnishingstatus'].replace({
    'furnished': 1,
    'semi-furnished': 2,
    'unfurnished': 3
})

# 3️⃣ Scale using SAME scaler
numeric_cols = [
    'area','bedrooms','bathrooms','stories','parking',
    'furnishingstatus','guestroom','basement','mainroad',
    'hotwaterheating','airconditioning','prefarea'
]

new_house[numeric_cols] = scaler.transform(new_house[numeric_cols])

# 4️⃣ Predict
predicted_price = model.predict(new_house)
print("Predicted House Price:", predicted_price[0])

Predicted House Price: 7341680.5056880675

/tmp/ipython-input-2585097702.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_house[col] = new_house[col].replace({'yes': 1, 'no': 0})
/tmp/ipython-input-2585097702.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_house['furnishingstatus'] = new_house['furnishingstatus'].replace({