<a href="https://colab.research.google.com/github/abadathossain/AbadatHossain/blob/main/ostad_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input('Enter Name: ')
age=int(input('Enter Age: '))
address=input('Enter Address: ')
print(name,age,address)

Enter Name: abadat
Enter Age: 36
Enter Address: abcd
abadat 36 abcd

In [2]:
type(age)

int

In [10]:
first_value="Hello"
user_name=input("Enter Name: ")
greetings=first_value+ " "+"Mr." +" " +user_name +" "+"Hossain"
print(greetings)

Enter Name: Abadat
Hello Mr. Abadat Hossain

In [12]:
num1=int(input("Enter First Number: "))
num2=int(input("Enter Second Number:"))
sum=f"Sum of {num1} and {num2} = {num1+num2}"
print(sum)

Enter First Number: 5
Enter Second Number:3
Sum of 5 and 3 = 8

In [13]:
for i in range(1,10,2):
  print(f"Current Value: {i}")

Current Value: 1
Current Value: 3
Current Value: 5
Current Value: 7
Current Value: 9