<a href="https://colab.research.google.com/github/abadathossain/AbadatHossain/blob/main/Skill_morph_02_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basic**

In [ ]:
## .ipynb => Interactive Python Notebook

print("Welcome to Skill Morph!")

Welcome to Skill Morph!

In [ ]:
## Discuss about print() function

print("SKill", "\n", "\tMorph", "End")

SKill
 	Morph End

In [ ]:
## Printing different types of values

print("Skill, Morph")  # Displaying a string

name = "Mr. Person"
age = 21
print("Name:", name, "Age:", age)

num1 = 5
num2 = 7
print("Num1 =", num1, "Num2 =", num2, "Sum =", num1 + num2)  # Printing variables and literals

Skill, Morph
Name: Mr. Person Age: 21
Num1 = 5 Num2 = 7 Sum = 12

In [ ]:
## Printing with formatting

num1 = 145.89
num2 = 345.568

sum = num1 + num2
print("Value: {:.1f}%".format(sum))
print("{:.3f}".format(sum))

Value: 491.5%
491.458

In [ ]:
## H1: Write a program to perform the subtraction, multipllication and division
sub=num1-num2
print("Subtraction: ", "{:.2f}".format(sub))

multi=num1*num2
print("Multiplication: ", "{:.2f}".format(multi))

div=num1/num2
print("Division: ", "{:.2f}".format(div))

Subtraction:  -199.68
Multiplication:  50414.92
Division:  0.42

In [ ]:
dept = "Machine Learning" ##Assign value to variable
org = "Skill Morph"

print(dept)

Machine Learning

In [ ]:
dept, org, batch = "Machine Learning", "Skill Morph", 1 ##Decalare multiple variables in a line

print(dept, "\t", org, "\t", batch)

Machine Learning 	 Skill Morph 	 1

In [ ]:
## H2: Write a program to declare variables for id, name, batch, and hometown, and assign values, and finally print.
# Declare and assign variables

student_id = "SM-ML-2025-B1-004"
name = "Md. Abadat Hossain"
batch = "First Batch"
hometown = "Tangail"

# Print the values
print("ID:", student_id)
print("Name:", name)
print("Batch:", batch)
print("Hometown:", hometown)

ID: SM-ML-2025-B1-004
Name: Md. Abadat Hossain
Batch: First Batch
Hometown: Tangail

In [ ]:
# Changing value of a variable

dept_name = 'Machine Learning'
print("Before: ", dept_name)

dept_name = 'Data Science'  # assigning a new value to dept_name

print("After: ", dept_name)

Before:  Machine Learning
After:  Data Science

In [ ]:
## H3: Write a program to change values of an integer variable

# Declare an integer variable
x = 10
print("Initial value:", x)

# Change the value
x = 25
print("Updated value:", x)

Initial value: 10
Updated value: 25

In [ ]:
# Variables and literals

num = 123.56

b = False

print(b)

False

In [ ]:
# Implicit Type Conversion

num1 = 12345 #integer
num2 = 5000.6789 #float

sum = num1 + num2

print(sum)

print(type(num1), type(num2), type(sum))

17345.6789
<class 'int'> <class 'float'> <class 'float'>

In [ ]:
# Explicit Type Conversion

num1 = 12345 #integer
num2 = 5000.6789 #float

sum = num1 + int(num2)

print(num2)

print(sum)

print(type(num1), type(num2), type(sum))

5000.6789
17345
<class 'int'> <class 'float'> <class 'int'>

In [ ]:
## H4: Write a program to take two string numbers and convert them to integers using explicit type conversion.

# Two string numbers
num1 = "25"
num2 = "40"

# Explicit type conversion from string to integer
int_num1 = int(num1)
int_num2 = int(num2)

# Print the converted integers
print("First integer:", int_num1)
print("Second integer:", int_num2)

First integer: 25
Second integer: 40

In [ ]:
# Input from users

age = input() #Default: String

print(age, type(age))

age = float(input())
print(age)

25
25 <class 'str'>
2.2
2.2

In [ ]:
## Arithmatic Operator

a = int(input('Enter the first number: '))
b = int(input('Enter the first number: '))

print('Sum: ', a + b)  # Addition
print('Subtraction: ', a - b)  # Subtraction
print('Multiplication: ', a * b)  # Multiplication
print('Division: ', a / b)  # Division
print('Floor Division: ', a // b)  # Floor division
print('Modulo: ', a % b)  # Modulo
print('Power: ', a ** b)  # a to the power b

Enter the first number: 12
Enter the first number: 23
Sum:  35
Subtraction:  -11
Multiplication:  276
Division:  0.5217391304347826
Floor Division:  0
Modulo:  12
Power:  6624737266949237011120128

In [ ]:
## H5: Write a program to calculate and print the average of the three numbers. Round the result to two decimal places.

num1 = 11
num2 = 22
num3 = 35

# Calculate the average
average = (num1 + num2 + num3) / 3

# Print the average rounded to two decimal places
print("Average:", round(average, 2))

Average: 22.67

In [ ]:
## Comparison Operator

a = 10
b = 20

print(a == b)

False

In [ ]:
## Logical Operators

a = True
b = True
c = False

print (a and b and c)

print(a and not b)

False
False

In [ ]:
## Bitwise Operators

a = 5 # 101
b = 6 # 110

print(a & b) # 100

4

## **Python Flow Control**

In [ ]:
## Even or Odd

num = 10

if num % 2 == 0: #Inportant to understand the condition
  print("Even")

Even

In [ ]:
## H6: Create a simple calculator that performs basic arithmetic operations (addition, subtraction, multiplication, division) based on user input.

# Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operation (+, -, *, /): ")

# Perform calculation
if operator == "+":
    result = num1 + num2
elif operator == "-":
    result = num1 - num2
elif operator == "*":
    result = num1 * num2
elif operator == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
else:
    result = "Invalid operator"

# Print result
print("Result:", result)

Enter first number: 2
Enter second number: 3
Enter operation (+, -, *, /): \
Result: Invalid operator

In [ ]:
## H7: Write a program that asks the user to enter a single character and determines whether it is a vowel or a consonant.


char=input("Enter a single character: ").lower()
if(char=='a' or char=='e' or char=='i' or char=='o' or char=='u'):
  print(char, "is a vowel")
else:
  print(char, "is a consonant")


#Another Method
char=input("Enter a single character: ").lower()
if char.isalpha() and len(char)==1:
  if char in 'aeiou':
    print(char, "is a vowel")
  else:
    print(char, "is a consonant")
else:
  print("Invalid input. Please enter a single character.")

Enter a single character: ff
ff is a consonant
Enter a single character: ff
Invalid input. Please enter a single character.

In [ ]:
# Temperature Converter (Fixed)

choice_convert_temp = input("Convert to (C/F): ").strip().lower()

if choice_convert_temp == 'c':
    f = float(input("Enter temperature in Fahrenheit: "))
    c = (f - 32) * 5 / 9
    print("Temperature in Celsius:", round(c, 2))

elif choice_convert_temp == 'f':
    c = float(input("Enter temperature in Celsius: "))
    f = (c * 9 / 5) + 32
    print("Temperature in Fahrenheit:", round(f, 2))

else:
    print("Invalid choice")

Convert to (C/F): f
Enter temperature in Celsius: 36
Temperature in Fahrenheit: 96.8

In [ ]:
## H9: Write a program that asks the user to enter three numbers and determines which one is the largest.

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 6
Enter second number: 5
Enter third number: 8
Largest number is: 8.0

## **Loops**

In [ ]:
## For Loop

for x in range(10): #Starting, Ending, Inc/Dec
  print("Skill Morph")

Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph

In [ ]:
## while loop

n = 10

while n!=0:
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

In [1]:
# H10: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.

N = int(input("Enter a number: "))

for i in range(1, N + 1):
    if i % 2 == 0:
        print(i)

Enter a number: 10
2
4
6
8
10

In [2]:
# H11: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

N = int(input("Enter a number: "))
total = 0

for i in range(1, N + 1):
    if i % 3 == 0 or i % 5 == 0:
        total += i

print("Sum:", total)

Enter a number: 5
Sum: 8

In [3]:
# H12: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.

n = int(input("Enter a number: "))

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# **Thank You!**